.navbar {
  background: transparent;
}

.bg-img {
  height: 100vh !important;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.bg-body-nav {
  height: 83vh;
  overflow: hidden;
}
/* .bg-body-nav .img-fluid {
  height: 100% !important;
} */

#ott-content .card {
  border-radius: 10px;
}

#ott-content .btn {
  width: 100%;
  color: black !important;
  background-color: #1ce783 !important;
}
#ott-content .card {
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      transparent 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%) !important;
}

.green-primary {
  color: #00ed82;
}
